.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-link {
  color: #09d3ac;
  padding: 5px 10px;
  text-decoration: none;
}
.header-link:hover{
  color: #a7eec0;
}
