.footer{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  font-size: calc(10px + .2vmin);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-copyright{
  padding: 10px 0;
}
